<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-offset-2 col-md-2 col-lg-offset-2 ">
    <form [formGroup]="feedbackForm " (ngSubmit)="onSubmitFeedBack() " role="form ">
      <div class="form-group ">
        <legend>FeedBack</legend>
      </div>
      <div class="form-group required clearfix ">
        <label class="col-sm-2 control-label ">Full Name:</label>
        <div class="col-sm-6 ">
          <input type="text " class="form-control " formControlName="fullName">
          <app-error-validate [control]="feedbackForm.controls.fullName" [controlName]=" 'Full Name' "></app-error-validate>
        </div>
      </div>
      <div class="form-group clearfix required ">
        <label class="col-sm-2 control-label ">Title :</label>
        <div class="col-sm-6 ">
          <input type="text " class="form-control" formControlName="title">
          <app-error-validate [control]="feedbackForm.controls.title" [controlName]=" 'Title' "></app-error-validate>
        </div>
      </div>
      <div class="form-group  clearfix required ">
        <label for="textarea" class="col-sm-2 control-label">Content:</label>
        <div class="col-sm-6">
          <textarea class="form-control " rows="3 " formControlName="content"></textarea>
          <app-error-validate [control]="feedbackForm.controls.content" [controlName]=" 'Content' "></app-error-validate>
        </div>
      </div>
      <div class="form-group clearfix ">
        <div class="col-sm-10 col-sm-offset-2 ">
          <button type="submit " class="btn btn-primary " [disabled]="feedbackForm.invalid ">Submit</button>
          <button type="button " class="btn btn-default " (click)="onResetForm() ">Reset</button>
        </div>
      </div>
    </form>
  </div>
</div>
