<div id="carousel-example-generic" class="carousel slide">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <!-- Slide -->
    <div class="item" [ngClass]="{'active': i === 0}" *ngFor="let i of getKeys(map);  let i = index">
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" *ngFor="let recipe of getValue(i)">
          <a [routerLink]="['/recipe', recipe.id]"><img src="http://localhost:8080/rest/{{recipe.image}}" width="230" height="50"></a>
           <br>
        <h4><a [routerLink]="['/recipe', recipe.id]">{{recipe.name}}</a></h4>
        </div>       
      </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="icon-next"></span>
  </a>
  </div>
</div>
<script type="text/javascript">
$('#carousel-example-generic').carousel({ wrap: true });

</script>
