<admin-header></admin-header>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Information of Customer</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="form-group clearfix">
        <label class="col-sm-2 control-label">Customer Id:</label>
        <div class="col-sm-6">
          <p class="text-muted">{{customer.id}}</p>
        </div>
      </div>
      <div class="form-group clearfix">
        <label class="col-sm-2 control-label">Username:</label>
        <div class="col-sm-6">
          <p class="text-muted">{{customer.username}}</p>
        </div>
      </div>
      <div class="form-group clearfix">
        <label class="col-sm-2 control-label">Full Name:</label>
        <div class="col-sm-6">
          <p class="text-muted">{{customer.fullName}}</p>
        </div>
      </div>
      <div class="form-group clearfix">
        <label class="col-sm-2 control-label">Address:</label>
        <div class="col-sm-6">
          <p class="text-muted">{{customer.address}}</p>
        </div>
      </div>
      <div class="form-group clearfix">
        <label class="col-sm-2 control-label">Phone Number:</label>
        <div class="col-sm-6">
          <p class="text-muted">{{customer.phoneNumber}}</p>
        </div>
      </div>
       <div class="form-group clearfix">
        <label class="col-sm-2 control-label">Avatar:</label>
        <div class="col-sm-6">
          <p class="text-muted"><img src="http://localhost:8080/rest/{{customer.avatar}}" class="img-responsive" alt="Image"></p>
        </div>
      </div>
      <div class="form-group clearfix">
        <label class="col-sm-2 control-label">Gender</label>
        <div class="col-sm-6">
          <p class="text-muted">{{customer.gender == true ? 'Male':'Female'}}</p>
        </div>
      </div>
      <div class="form-group clearfix">
        <label class="col-sm-2 control-label">BirthDay:</label>
        <div class="col-sm-6">
          <p class="text-muted">{{customer.birthDay | date : 'MM/dd/yyyy'}}</p>
        </div>
      </div>
      <div class="form-group clearfix">
        <label class="col-sm-2 control-label">Expired Day:</label>
        <div class="col-sm-6">
          <p class="text-muted">{{customer.expiredDate | date : 'MM/dd/yyyy'}}</p>
        </div>
      </div>
       <div class="form-group clearfix">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-6">
           <select name="" id="input" class="form-control" required="required" #expire>
            <option value="0">Not yet</option>
             <option value="30">Monthly</option>
             <option value="365">Yearly</option>
          </select>
        </div>
      </div>
      <div class="form-group clearfix">
        <label class="col-sm-2 control-label">Enable Status:</label>
        <div class="col-sm-6">
          <select name="" id="input" class="form-control" required="required" [(ngModel)]="customer.enableStatus" #status>
            <option value="true">Enable</option>
             <option value="false">Disable</option>
          </select>
        </div>
      </div>
      <button type="button" class="btn btn-primary center-block" (click)="onUpdateUserdetail(expire, status)">Update</button>
    </div>
  </div>
</div>
