<admin-header></admin-header>
<div *ngIf="orderBook">
  <table class="table table-bordered table-hover">
    <tbody>
      <tr>
        <td>OrderID</td>
        <td>{{orderBook.id}}</td>
      </tr>
      <tr>
        <td>Name</td>
        <td>{{orderBook.name}}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{orderBook.email}}</td>
      </tr>
      <tr>
        <td>Contact</td>
        <td>{{orderBook.contact}}</td>
      </tr>
      <tr>
        <td>Address</td>
        <td>{{orderBook.address}}</td>
      </tr>
      <tr>
        <td>BookCost</td>
        <td>{{orderBook.bookCost | currency : 'USD'}}</td>
      </tr>
      <tr>
        <td>PayingOption</td>
        <td>{{orderBook.payingOption}}</td>
      </tr>
      <tr>
        <td>OrderDate</td>
        <td>{{orderBook.orderDate | date : 'MM/dd/yyyy'}}</td>
      </tr>
      <tr>
        <td>Status</td>
        <td>{{orderBook.status == 'true' ? 'Processing' : 'Completed'}}</td>
      </tr>
    </tbody>
  </table>
  Process of thi order is completed ?
  <select class="form-control" [(ngModel)]="orderBook.status">
    <option value="true">Processing</option>
    <option value="false">Completed</option>
  </select>
  <br>
  <button type="button" class="btn btn-primary" (click)="onUpdateStatus()">Update</button>
</div>
