<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <div class="book_img"> <img src="./../../../assets/images/ice_cream_book.jpg" class="img-responsive" alt="Image"></div>
    <div class="order_img"><a (click)="clickToOrder(bookFormOrder)"><img src="./../../../assets/images/OrderNow.png" class="img-responsive" alt="Image"></a></div>
    <div style="text-align: center;">
      <h6>Book Cost: $ 49.99</h6></div>
  </div>
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <div class="well-lg">The Ultimate Ice Cream Book contains enough recipes to fill your summer days with delicious frozen desserts -- but after acquainting yourself with this book's hundreds of tempting concoctions, you'll want to use it every day of the year. With over 500 recipes, author Bruce Weinstein has put together the most comprehensive cookbook of its kind, covering just about every conceivable flavor of ice cream, sorbet, and granita; dozens of different recipes for shakes, malts, and other cold drinks; how to make your own ice cream cones; and toppings galore. If you ever worried that you might not get full use out of your ice-cream maker, cast your doubts aside. Ice cream recipes feature such unusual flavors as lavender, chestnut, rhubarb, and Earl Grey tea. Even Weinstein's vanilla ice cream is anything but plain, with variations like Vanilla Crunch, Vanilla Rose, and Vanilla Cracker Jack. There is also a plethora of light, refreshing recipes for sorbets and granitas, with flavors like Apple Chardonnay, Coconut, and Kiwi. Top everything off with the author's recipes forhomemade sauces. Whether it's a special event or a midnight snack, The Ultimate Ice Cream Book has what you need to make any occasion a little sweeter.
      <br>
      <div class="author">Bruce Weinstein</div>
    </div>
  </div>
</div>
<hr>
<div class="row" #bookFormOrder>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-4 col-offset-4 col-md-4 col-lg-offset-4 " *ngIf="isShow">
    <app-order-form></app-order-form>
  </div>
</div>