<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item" [ngClass]="{'active': i === 0}" *ngFor="let ricipe of ricipes;  let i = index">
          <img src="http://localhost:8080/rest/{{ricipe.image}}" width="230" height="150">
          <div class="carousel-caption">
            <h3>{{ricipe.name}}</h3>
            <p [ngStyle]="{'color':'yellow'}">{{ricipe.description | formatData}}</p>
            <button type="button" class="btn btn-primary" [routerLink]="['/recipe', ricipe.id]">VIEW THIS RECIPE</button>
          </div>
        </div>
      </div>
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <h4>Newest 10 User's Recipes</h4>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ricipe of newestRecipes"><a [routerLink]="['/recipe', ricipe.id]">{{ricipe.name}}</a></li>
    </ul>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <h4>Top 10 Most View Recipes</h4>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ricipe of ricipes"><a [routerLink]="['/recipe', ricipe.id]">{{ricipe.name}}</a></li>
    </ul>
  </div>

  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" *ngIf="!isLogin">
    <app-login></app-login>
  </div>
</div>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
    <app-multiple-carousel></app-multiple-carousel>
  </div>
</div>

