<admin-header></admin-header>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
  </div>
  <div class="panel-body">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>UserRecipeID</th>
          <th>Recipe Name</th>
          <th>Author</th>
          <th>Prize Status</th>
          <th>Detail</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let f of userRecipe">
          <td>{{f.id}}</td>
          <td>{{f.name}}</td>
          <td><a [routerLink]="['/admin/customers', f.customer.id]">{{f.customer.fullName}}</a></td>
          <td>{{f.prizeStatus === false ? 'Not yet' : 'Completed'}}</td>
          <td>   <a [routerLink]="['/admin/user/recipes', f.id]">Detail</a></td>
          <td>
            <button type="button" class="btn btn-primary" (click)="onDelete(f.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
