<div class="row">
	<div class="col-xs-12
	 col-sm-12
	 col-md-12
	 col-lg-12
	 ">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Frequently Asked Questions</h3>
			</div>
			<div class="panel-body">
				<div *ngFor="let item of faqs">
				<h4 style="background-color: #d9edf7; font-weight: bold;">Question: {{item.question}}</h4>
				<h4><div style="font-weight: bold;">Anwswer:</div>  {{item.answer}}</h4>
				</div>
			</div>
		</div>
	</div>
</div>