<div class="row">
  <div class="col-xs-9 col-sm-9col-md9 col-lg-9 col-xs-offset-1 col-offset-1 col-md-1 col-lg-offset-1">
    <div class="form-group clearfix">
      <div class="col-sm-4">
        <h4>{{customer.username}}'s Profile</h4>
      </div>
      <div class="col-sm-5">
        <h5 ><a [routerLink]="['/your-recipe']" style="margin-right: 30px;">Post Your Recipe</a>
          <a [routerLink]="['/changePass']">Change Password</a></h5>
      </div>
    </div>
    <hr>
    <ng-container *ngIf="!isUpdate; else update">
      <div class="form-group clearfix">
        <label class="col-sm-2 control-label">Full Name:</label>
        <div class="col-sm-6">
          <p class="text-muted">{{customer.fullName}}</p>
        </div>
      </div>
      <div class="form-group clearfix">
        <label class="col-sm-2 control-label">Address:</label>
        <div class="col-sm-6">
          <p class="text-muted">{{customer.address}}</p>
        </div>
      </div>
      <div class="form-group clearfix">
        <label class="col-sm-2 control-label">Phone Number:</label>
        <div class="col-sm-6">
          <p class="text-muted">{{customer.phoneNumber}}</p>
        </div>
      </div>
      <div class="form-group clearfix">
        <label class="col-sm-2 control-label">Email:</label>
        <div class="col-sm-6">
          <p class="text-muted">{{customer.email}}</p>
        </div>
      </div>
      <div class="form-group clearfix">
        <label class="col-sm-2 control-label">Gender:</label>
        <div class="col-sm-6">
          <p class="text-muted">{{customer.gender == true ? 'Male':'Female'}}</p>
        </div>
      </div>
      <div class="form-group clearfix">
        <label class="col-sm-2 control-label">Email:</label>
        <div class="col-sm-6">
          <p class="text-muted">{{customer.email}}</p>
        </div>
      </div>
      <div class="form-group clearfix">
        <label class="col-sm-2 control-label">BirthDay:</label>
        <div class="col-sm-6">
          <p class="text-muted">{{customer.birthDay | date : 'MM/dd/yyyy'}}</p>
        </div>
      </div>
      <div class="form-group clearfix">
        <label class="col-sm-2 control-label">Avatar:</label>
        <div class="col-sm-6">
          <p class="text-muted"><img src="http://localhost:8080/rest/{{customer.avatar}}"></p>
        </div>
      </div>
      <div class="form-group clearfix">
        <label class="col-sm-2 control-label">Exipired Date:</label>
        <div class="col-sm-6">
          <p class="text-muted">{{customer.expiredDate | date : 'MM/dd/yyyy'}}</p>
        </div>
      </div>
      <div class="form-group clearfix">
        <div class="col-sm-10 col-sm-offset-2">
          <button type="submit" class="btn btn-primary" (click)="onUpdateProfile()">Update</button>
          <button type="button" class="btn btn-default" (click)="onBackForm()">Back</button>
        </div>
      </div>
    </ng-container>
    <ng-template #update>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmitCustomer()" role="form">
        <div class="form-group required clearfix">
          <label class="col-sm-2 control-label">Full Name:</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" formControlName="fullName">
            <app-error-validate [control]="registerForm.controls.fullName" [controlName]="'Full Name'"></app-error-validate>
          </div>
        </div>
        <div class="form-group clearfix">
          <label class="col-sm-2 control-label">Address:</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" formControlName="address">
          </div>
        </div>
        <div class="form-group clearfix">
          <label class="col-sm-2 control-label">Phone Number:</label>
          <div class="col-sm-6">
            <input type="number" class="form-control" formControlName="phoneNumber">
          </div>
        </div>
        <div class="form-group clearfix">
          <label class="col-sm-2 control-label">Email :</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" formControlName="email">
            <app-error-validate [control]="registerForm.controls.email" [controlName]="'Email'"></app-error-validate>
          </div>
        </div>
        <div class="form-group clearfix">
          <label class="col-sm-2 control-label">Gender :</label>
          <div class="col-sm-6">
            <select class="form-control" formControlName="gender">
              <option value="true" selected>Male</option>
              <option value="false">Female</option>
            </select>
          </div>
        </div>
        <div class="form-group clearfix">
          <label class="col-sm-2 control-label">Birthday (MM/DD/YYYY):</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" formControlName="birthDay" [value]="registerForm.get('birthDay').value">
            <app-error-validate [control]="registerForm.controls.birthDay" [controlName]="'Birthday'"></app-error-validate>
          </div>
        </div>
        <div class="form-group clearfix">
          <label class="col-sm-2 control-label">Avatar:</label>
          <div class="col-sm-6">
            <input type="file" accept="image/*" (change)="changeListener($event)" class="form-control" formControlName="avatar">
          </div>
        </div>
        <div class="form-group clearfix">
          <label class="col-sm-2 control-label"></label>
          <div class="col-sm-6" *ngIf="imagePath; else elseBlock ">
            <img [src]="imagePath" alt="..." class="img-rounded">
          </div>
          <ng-template #elseBlock>
            <div class="col-sm-6">
              <img src="http://localhost:8080/rest/{{imgLink}}" *ngIf="imgLink">
            </div>
          </ng-template>
        </div>
        <div class="form-group clearfix">
          <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Submit</button>
            <button type="button" class="btn btn-default"  (click)="onBackForm()">Back</button>
          </div>
        </div>
      </form>
    </ng-template>
  </div>
</div>
