<admin-header></admin-header>
<div class="row">
  <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" *ngIf="ricipe">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>{{ricipe.name}}</h3>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <img src="http://localhost:8080/rest/{{ricipe.image}}" class="img-responsive" alt="Image">
        <span class="label label-default">View: {{ricipe.viewNumber}}</span>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <span [innerHtml]="ricipe.description | formatDataList"></span>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" [innerHtml]="ricipe.details | formatDataList"> </div>
    </div>
  </div>
 
</div>
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
     <button type="button" class="btn btn-default" (click)="backToList()" style="margin-right: 20px">Back</button>
      <button type="button" class="btn btn-primary" (click)="backToEdit(ricipe.id)" >Edit</button>
   </div>


