<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <nav class="navbar navbar-default" role="navigation">
      <div class="collapse navbar-collapse navbar-ex1-collapse"> 
         <ul class="nav navbar-nav">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
              <a [routerLink]="['']">HOME</a>
            </li>
            <li routerLinkActive="active">
              <a [routerLink]="['/recipe', 1]">RECIPES</a>
            </li>
            <li routerLinkActive="active">
              <a [routerLink]="['/oderBook']">ORDER BOOK</a>
            </li>
          </ul>
      </div>
    </nav>
  </div>
</div>
