<admin-header></admin-header>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
  </div>
  <div class="panel-body">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Buyer</th>
          <th>Email</th>
          <th>Contact</th>
          <th>Address</th>
          <th>Book Cost</th>
          <th>Paying Option</th>
          <th>Order Date</th>
          <th>Status</th>
          <th>Process</th>
        </tr>
      </thead>
      <tbody>
       <tr *ngFor="let item of orderBooks">
       	<td>{{item.id}}</td>
       	<td>{{item.name}}</td>
       	<td>{{item.email}}/td>
       	<td>{{item.contact}}</td>
       	<td>{{item.address}}</td>
       	<td>{{item.bookCost}}</td>
       	<td>{{item.orderDate | date : 'MM/dd/yyyy'}}</td>
       	<td>{{item.payingOption}}</td>
       	<td>{{item.status === true ? 'Processing' : 'Completed'}}</td>
       	<td> <a [routerLink]="['/admin/orders', item.id]">Details</a></td>
       </tr>
      </tbody>
    </table>
  </div>
</div>