<ng-container *ngIf="!islogin; else changePass">
  <admin-login></admin-login>
</ng-container>
<ng-template #changePass>
	<admin-header></admin-header>
  <admin-change-password></admin-change-password>
</ng-template>
