<admin-header></admin-header>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Frequently Asked Questions</h3>
  </div>
  <div class="panel-body">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Question</th>
          <th>Answer</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let f of faqs">
          <td>{{f.id}}</td>
          <td>{{f.question}}</td>
          <td>{{f.answer}}</td>
          <td>
            <button type="button" class="btn btn-primary" (click)="onDelete(f.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
