<admin-header></admin-header>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Add New FAQ</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <form [formGroup]="faqForm" (ngSubmit)="onSubmitFaq()" role="form">
        <div class="form-group required clearfix required">
          <label class="col-sm-2 control-label">Question:</label>
          <div class="col-sm-6">
            <textarea class="form-control" rows="5" formControlName="question" ></textarea>
              <app-error-validate [control]="faqForm.controls.question" [controlName]="'Question'"></app-error-validate>
          </div>
        </div>
        <div class="form-group required clearfix required">
          <label class="col-sm-2 control-label">Answer:</label>
          <div class="col-sm-6">
            <textarea class="form-control" rows="5" formControlName="answer" ></textarea>
              <app-error-validate [control]="faqForm.controls.answer" [controlName]="'Answer'"></app-error-validate>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="faqForm.invalid">Add</button>
      </form>
    </div>
  </div>
</div>
