<admin-header></admin-header>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Full Name</th>
          <th>Email</th>
          <th>Expired Date</th>
          <th>Enable</th>
          <th>Detail</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cus of customers">
          <td>{{cus.id}}</td>
          <td>{{cus.username}}</td>
          <td>{{cus.fullName}}</td>
          <td>{{cus.email}}}</td>
          <td>{{cus.expiredDate |  date : 'MM/dd/yyyy'}}</td>
          <td>
            <input type="checkbox" [checked]="cus.enableStatus" (click)="onChecked($event, cus.id)">
          </td>
          <td>
            <button type="button" class="btn btn-info" (click)="onEdit(cus.id)">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-primary" (click)="updateCustomerStatus()">Update</button>
  </div>
</div>
