<admin-header></admin-header>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">User Recipe Detail</h3>
  </div>
  <div class="panel-body">
    <div *ngIf="userRecipe">
      <table class="table table-bordered table-hover">
        <tbody>
          <tr>
            <td>User Recipe ID</td>
            <td>{{userRecipe.id}}</td>
          </tr>
          <tr>
            <td>Recipe Name</td>
            <td>{{userRecipe.name}}</td>
          </tr>
          <tr>
            <td>Image</td>
            <td> <img src="http://localhost:8080/rest/{{userRecipe.image}}" class="img-responsive" alt="Image"></td>
          </tr>
          <tr>
            <td>Description </td>
            <td><div  [innerHtml]="userRecipe.desciption  | formatDataList"></div></td>
          </tr>
          <tr>
            <td>Details</td>
            <td><div  [innerHtml]="userRecipe.details  | formatDataList"></div></td>
          </tr>
        </tbody>
      </table>
      Process of thi order is completed ?
      <select class="form-control" [(ngModel)]="userRecipe.prizeStatus">
        <option value="false">Processing</option>
        <option value="true">Completed</option>
      </select>
      <br>
      <button type="button" class="btn btn-primary" (click)="onUpdateStatus()">Update</button>
       <button type="button" class="btn btn-default" (click)="onBack()">Back</button>
    </div>
  </div>
</div>
