<admin-header></admin-header>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-info">
      <div class="panel-heading">
      </div>
      <div class="panel-body">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Image</th>
              <th>Desciption</th>
              <th>Deails</th>
              <th>Customer ID</th>
              <th>Prize Status</th>
              <th>Eable Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let userRecipe of userRecipes">
              <td>{{userRecipe.id}}</td>
              <td>{{userRecipe.name}}</td>
              <td><img src="http://localhost:8080/rest/{{userRecipe.image}}" class="img-responsive" alt="Image"></td>
              <td>{{userRecipe.desciption}}</td>
              <td>{{userRecipe.details}}</td>
              <td>{{userRecipe.customer.id}}</td>
              <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" disabled="true" [checked]="userRecipe.enablestatus" value="{{userRecipe.prizeStatus}}">
                  </label>
                </div>
              </td>
              <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" disabled="true" [checked]="userRecipe.enablestatus" value="{{userRecipe.enablestatus}}">
                  </label>
                </div>
              </td>
              <td>
                <button type="button" class="btn btn-primary" (click)="onPrize(userRecipe.id)">Prize</button>
                 <button type="button" class="btn btn-primary" (click)="onDelete(userRecipe.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
