<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <nav class="navbar navbar-default" role="navigation">
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/admin/customers']">Customers</a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="['/admin/recipes']">Recipes</a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="['/admin/feedbackFAQ']">Feedbac&FAQ</a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="['/admin/prize']">Prize</a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="['/admin/orders']">Orders</a>
          </li>
          <li routerLinkActive="active">
            <a (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
