<div class="row">
  <div class="col-xs-9 col-sm-9col-md9 col-lg-9 col-xs-offset-1 col-offset-1 col-md-1 col-lg-offset-1">
    <form [formGroup]="changePassForm" (ngSubmit)="onSubmitChangPassword()" role="form">
      <div class="form-group required clearfix">
        <label class="col-sm-3 control-label">Old Password:</label>
        <div class="col-sm-6">
          <input type="password" class="form-control" formControlName="oldPass">
          <app-error-validate [control]="changePassForm.controls.oldPass" [controlName]="'Old Password'"></app-error-validate>
        </div>
      </div>
      <div class="form-group required clearfix">
        <label class="col-sm-3 control-label">New Password:</label>
        <div class="col-sm-6">
          <input type="password" class="form-control" formControlName="password">
          <app-error-validate [control]="changePassForm.controls.password" [controlName]="'Password'"></app-error-validate>
        </div>
      </div>
      <div class="form-group required clearfix">
        <label class="col-sm-3 control-label">Re-type New Password:</label>
        <div class="col-sm-6">
          <input type="password" class="form-control" formControlName="confirm_password">
          <app-error-validate [control]="changePassForm.controls.confirm_password" [controlName]="'Confirm Pass'"></app-error-validate>
        </div>
      </div>
      <div class="form-group clearfix">
        <label class="col-sm-3 control-label"></label>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary" [disabled]="changePassForm.invalid">Submit</button>
          <button type="submit" class="btn btn-primary" (click)="onReset()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
