<admin-header></admin-header>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		     <a [routerLink]="['/admin/faq']" style="margin-right: 30px;">Manage FAQ</a>
		<a [routerLink]="['/admin/faq/add']"  >Add New FAQ</a>
	</div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
  </div>
  <div class="panel-body">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Full Name</th>
          <th>Title</th>
          <th>Content</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let f of feedbacks">
          <td>{{f.id}}</td>
          <td>{{f.fullName}}</td>
          <td>{{f.title}}</td>
          <td>{{f.content}}</td>
          <td>
            <button type="button" class="btn btn-primary" (click)="onDelete(f.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
