<div class="container">
  <ng-container *ngIf="!isAdmin; else admin">
    <div class="row">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xs-offset-9 col-sm-offset-9 col-md-offset-9 col-lg-offset-9">
        <nav class="navbar">
          <ul class="nav navbar-nav navbar-right">
            <ng-container *ngIf="username; else loginSection">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{username}} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a [routerLink]="['/profile']">Profile</a></li>
                  <li><a (click)="logout()">Logout</a></li>
                </ul>
              </li>
            </ng-container>
            <ng-template #loginSection>
              <li routerLinkActive="active"><a [routerLink]="['/register']"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li routerLinkActive="active"><a [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ng-template>
          </ul>
        </nav>
      </div>
    </div>
    <app-header></app-header>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"></h3>
          </div>
          <div class="panel-body">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/faq']">FAQ</a>
          </li>
          <li>
            <a [routerLink]="['/feedback']">Feedback</a>
          </li>
          <li>
            <a [routerLink]="['/about']">About Us</a>
          </li>
          <li>
            <a [routerLink]="['/contact']">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </ng-container>
  <ng-template #admin>
    <router-outlet></router-outlet>
  </ng-template>
</div>
<hr>
