<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" role="form" style="width: 90%">
  <h4>Login</h4>
  <div class="form-group">
    <label for="">Username: </label>
    <input type="text" class="form-control" formControlName="username">
    <app-error-validate [control]="loginForm.controls.username" [controlName]="'Username'"></app-error-validate>
  </div>
  <div class="form-group">
    <label for="">Password: </label>
    <input type="password" class="form-control" formControlName="password">
    <app-error-validate [control]="loginForm.controls.password" [controlName]="'Password'"></app-error-validate>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" (change)="isRemember = !isRemember" > Remember me next time.
    </label>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Submit</button>
  <br/>
  <hr>
  <a [routerLink]="['/register']">Don't have a Ice-Cream ID? Register now</a>
  <br/>
  <a [routerLink]="['/forgot']">Forgot password</a>
</form>
