<admin-header></admin-header>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Edit Recipe</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <form [formGroup]="recipeForm" (ngSubmit)="onSubmitRecipe()" role="form">
        <div class="form-group required clearfix">
          <label class="col-sm-2 control-label">RecipeID:</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" formControlName="id">
          </div>
        </div>
        <div class="form-group required clearfix">
          <label class="col-sm-2 control-label">Name:</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" formControlName="name">
            <app-error-validate [control]="recipeForm.controls.name" [controlName]="'Name'"></app-error-validate>
          </div>
        </div>
        <div class="form-group required clearfix">
          <label class="col-sm-2 control-label">Image:</label>
          <div class="col-sm-6">
            <input type="file" accept="image/*" (change)="changeListener($event)" class="form-control" formControlName="image">
          </div>
        </div>
        <div class="form-group required clearfix">
          <label class="col-sm-2 control-label">Description:</label>
          <div class="col-sm-6">
            <textarea name="" id="textarea" class="form-control" rows="3" formControlName="description"></textarea>
            <app-error-validate [control]="recipeForm.controls.description" [controlName]="'Desciption'"></app-error-validate>
          </div>
        </div>
        <div class="form-group required clearfix">
          <label class="col-sm-2 control-label">Details:</label>
          <div class="col-sm-6">
            <textarea name="" id="textarea" class="form-control" rows="3" formControlName="details"></textarea>
            <app-error-validate [control]="recipeForm.controls.details" [controlName]="'Details'"></app-error-validate>
          </div>
        </div>
        <div class="form-group required clearfix">
          <label class="col-sm-2 control-label">Author:</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" formControlName="author">
            <app-error-validate [control]="recipeForm.controls.author" [controlName]="'Author'"></app-error-validate>
          </div>
        </div>
        <div class="form-group required clearfix">
          <label class="col-sm-2 control-label">ViewNumber:</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" formControlName="viewNumber">
            <app-error-validate [control]="recipeForm.controls.viewNumber" [controlName]="'ViewNumber'"></app-error-validate>
          </div>
        </div>
        <div class="form-group required clearfix">
          <label class="col-sm-2 control-label">Upload Date:</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" formControlName="uploadDate">
            <app-error-validate [control]="recipeForm.controls.uploadDate" [controlName]="'UploadDate'"></app-error-validate>
          </div>
        </div>
        <div class="form-group required clearfix">
          <label class="col-sm-2 control-label">Enable Status:</label>
          <div class="col-sm-6">
            <div class="checkbox">
              <input type="checkbox" value="" formControlName="enablestatus">
            </div>
            <app-error-validate [control]="recipeForm.controls.enablestatus" [controlName]="'Enablestatus'"></app-error-validate>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="recipeForm.invalid">Edit</button>
        <button type="button" class="btn btn-default" (click)="onBackForm()">Cancel
        </button>
      </form>
    </div>
  </div>
</div>
