<div class="row">
  <div class="col-xs-9 col-sm-9col-md9 col-lg-9 col-xs-offset-1 col-offset-1 col-md-1 col-lg-offset-1">
    <h4>Your Recipe</h4>
    <hr>
    <form [formGroup]="yourRecipeForm" (ngSubmit)="onSubmitYourRecipe()" role="form">
      <div class="form-group required clearfix">
        <label class="col-sm-3 control-label">Name of your recipe:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" formControlName="name">
          <app-error-validate [control]="yourRecipeForm.controls.name" [controlName]="'Name'"></app-error-validate>
        </div>
      </div>
      <div class="form-group required clearfix">
        <label class="col-sm-3  control-label">Image:</label>
        <div class="col-sm-6">
          <input type="file" accept="image/*" (change)="changeListener($event)" class="form-control" formControlName="image">
        </div>
      </div>
      <div class="form-group required clearfix">
        <label class="col-sm-3 control-label">Description</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" formControlName="desciption">
          <app-error-validate [control]="yourRecipeForm.controls.desciption" [controlName]="'Description'"></app-error-validate>
        </div>
      </div>
      <div class="form-group required clearfix">
        <label class="col-sm-3 control-label">Detail</label>
        <div class="col-sm-6">
          <textarea name="" id="input" class="form-control" rows="3" required="required" formControlName="details"></textarea>
          <app-error-validate [control]="yourRecipeForm.controls.details" [controlName]="'Detail'"></app-error-validate>
        </div>
      </div>
      <hr>
      <div class="form-group required clearfix">
        <div class="col-sm-9">
          <p class="bg-danger">Node: Your recipe can be a great recipe. We have a prize for each greate recipe. Please input recipe with full information, we will make some ice-cream by your recipe. Thank you for submit your recipe.</p>
        </div>
      </div>
      <hr>
      <div class="form-group clearfix">
        <div class="col-sm-9">
          <button type="submit" class="btn btn-primary" [disabled]="yourRecipeForm.invalid">Upload Recipe</button>
          <button type="button" class="btn btn-default" (click)="onResetForm()">Clean</button>
        </div>
      </div>
    </form>
  </div>
</div>
