<admin-header></admin-header>
<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <h3> <a [routerLink]="['recipe/add']">Add New Recipe</a></h3>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <h3> <a [routerLink]="['/admin/user/recipes']">User Recipe</a></h3>
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
  </div>
  <div class="panel-body">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Image</th>
          <th>Author</th>
          <th>View</th>
          <th>Upload Date</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let recipe of recipes">
          <td>{{recipe.id}}</td>
          <td>{{recipe.name}}</td>
          <td><img src="http://localhost:8080/rest/{{recipe.image}}" class="img-responsive" alt="Image"></td>
          <td>{{recipe.author}}</td>
          <td>{{recipe.viewNumber}}</td>
          <td>{{recipe.uploadDate | date : 'MM/dd/y hh:mm:ss a'}}</td>
          <td>
            <div class="checkbox">
              <label>
                <input type="checkbox" disabled="true" [checked]="recipe.enablestatus" value="{{recipe.enablestatus}}">
              </label>
            </div>
          </td>
          <td>
            <button type="button" class="btn btn-primary" (click)="onEdit(recipe.id)">Edit</button>
            <button type="button" class="btn btn-primary"  (click)="onReview(recipe.id)">Review</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
