<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-offset-2 col-md-2 col-lg-offset-2">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmitCustomer()" role="form">
      <div class="form-group">
        <legend>REGISTER</legend>
      </div>
      <div class="form-group required clearfix">
        <label class="col-sm-2 control-label">Username:</label>
        <div class="col-sm-6">
          <input class="form-control" formControlName="username">
          <app-error-validate [control]="registerForm.controls.username" [controlName]="'Username'"></app-error-validate>
        </div>
      </div>
      <div class="form-group required clearfix">
        <label class="col-sm-2 control-label">Password:</label>
        <div class="col-sm-6">
          <input type="password" class="form-control" formControlName="password">
          <app-error-validate [control]="registerForm.controls.password" [controlName]="'Password'"></app-error-validate>
        </div>
      </div>
      <div class="form-group required clearfix">
        <label class="col-sm-2 control-label">Full Name:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" formControlName="fullName">
          <app-error-validate [control]="registerForm.controls.fullName" [controlName]="'Full Name'"></app-error-validate>
        </div>
      </div>
      <div class="form-group clearfix">
        <label class="col-sm-2 control-label">Address:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" formControlName="address">
        </div>
      </div>
      <div class="form-group clearfix">
        <label class="col-sm-2 control-label">Phone Number:</label>
        <div class="col-sm-6">
          <input type="number" class="form-control" formControlName="phoneNumber">
        </div>
      </div>
      <div class="form-group clearfix">
        <label class="col-sm-2 control-label">Email :</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" formControlName="email">
          <app-error-validate [control]="registerForm.controls.email" [controlName]="'Email'"></app-error-validate>
        </div>
      </div>
      <div class="form-group clearfix">
        <label class="col-sm-2 control-label">Gender :</label>
        <div class="col-sm-6">
          <select class="form-control" formControlName="gender">
            <option value="true" selected>Male</option>
            <option value="false">Female</option>
          </select>
        </div>
      </div>
      <div class="form-group clearfix">
        <label class="col-sm-2 control-label">Birthday (DD/MM/YYYY):</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" formControlName="birthDay" placeholder="DD/MM/YYYY">
          <app-error-validate [control]="registerForm.controls.birthDay" [controlName]="'Birthday'"></app-error-validate>
        </div>
      </div>
      <div class="form-group clearfix">
        <label class="col-sm-2 control-label">Avatar:</label>
        <div class="col-sm-6">
          <input type="file" accept="image/*" (change)="changeListener($event)" class="form-control" formControlName="avatar">
        </div>
      </div>
      <div class="form-group clearfix">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-6" *ngIf="imagePath; else elseBlock ">
          <img [src]="imagePath" alt="..." class="img-rounded">
        </div>
        <ng-template #elseBlock>
          <div class="col-sm-6">
            <img src="./../../../assets/images/noavatar.gif" alt="..." class="img-rounded">
          </div>
        </ng-template>
      </div>
      <div class="form-group clearfix">
        <div class="col-sm-10 col-sm-offset-2">
          <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Submit</button>
          <button type="button" class="btn btn-default" (click)="onResetForm()">Reset</button>
        </div>
      </div>
    </form>
  </div>
</div>
