<form [formGroup]="orderForm" (ngSubmit)="onSubmitOrder()">
  <h5>Please input your information. We will fast and free delivery this books for you at your address.</h5>
  <div class="form-group required">
    <label>Your Name</label>
    <input type="text" class="form-control" formControlName="name">
    <app-error-validate [control]="orderForm.controls.name" [controlName]="'Your name'"></app-error-validate>
  </div>
  <div class="form-group required">
    <label>Your Email</label>
    <input type="text" class="form-control" formControlName="email">
    <app-error-validate [control]="orderForm.controls.email" [controlName]="'Email'"></app-error-validate>
  </div>
  <div class="form-group required">
    <label for="textarea">Your Contact:</label>
    <textarea name="" id="textarea" class="form-control" rows="3" formControlName="contact"></textarea>
    <app-error-validate [control]="orderForm.controls.contact" [controlName]="'Contact'"></app-error-validate>
  </div>
  <div class="form-group required">
    <label for="textarea">Your Address:</label>
    <textarea name="" id="textarea" class="form-control" rows="3" formControlName="address"></textarea>
    <app-error-validate [control]="orderForm.controls.address" [controlName]="'Address'"></app-error-validate>
  </div>
  <div class="form-group required">
    <label for="textarea">Paying option:</label>
    <select class="form-control" formControlName="payingOption">
      <option value="Visa" selected="selected">Visa</option>
      <option value="Master Card">Master Card</option>
    </select>
  </div>
  <div class="form-group required">
    <label for="">Card number: </label>
    <input type="number" class="form-control" formControlName="cardNumber">
    <app-error-validate [control]="orderForm.controls.cardNumber" [controlName]="'Card Number'"></app-error-validate>
  </div>
  <div class="form-group required">
    <label for="">Name on Card</label>
    <input type="text" class="form-control" formControlName="cardName">
    <app-error-validate [control]="orderForm.controls.cardName" [controlName]="'Card Name'"></app-error-validate>
  </div>
  <div class="form-group required">
    <label for="">Expiration Date:</label>
    <input type="text" class="form-control"  formControlName="expiration">
    <app-error-validate [control]="orderForm.controls.expiration" [controlName]="'Expiration Date'"></app-error-validate>
  </div>
  <div class="form-group required">
    <label for="">CVV:</label>
    <input type="number" class="form-control" formControlName="cvv">
     <app-error-validate [control]="orderForm.controls.cvv" [controlName]="'CVV'"></app-error-validate>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="orderForm.invalid">Submit</button>
  <button type="button" class="btn btn-default" (click)="onResetForm()">Reset</button>
</form>


